.main {
  display: flex;
  flex-direction: column;
  background-color: #eef3f7;
  min-height: calc(100vh - 61px);
  padding: 2.5rem var(--b-pad);
}
.ongoing-section {
  /* background: linear-gradient(#fff, #ccc); */
  background-color: #eef3f7;

  padding-bottom: 1.5rem;
}
.section-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
}
.list-btn {
  all: unset;
  color: var(--a-clr);
  font-size: 0.94rem;
  cursor: pointer;
}
.list-btn:hover {
  text-decoration: underline;
}
.ongoing-section > h2,
.section-header > h2 {
  font-size: var(--ft-700);
  color: #222;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0;
}
.ongoing-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}
